<p>product-detail works!</p>
<!-- <form (ngSubmit)="onSubmit(fm)" #fm="ngForm"> -->
<form id="regForm" [formGroup]="quoteForm">
    <div class="form-group" >
        <label for="name">Item Name:</label>
        <input type="text" class="form-control" formControlName="name" >
        
    </div>
    <div class="form-group" >
        <label for="name">Item Name:</label>
        <input type="text" class="form-control" formControlName="price" >   
    </div>
    
    <!-- <button type="submit" class="btn btn-primary">Add</button> -->
    <button type="button" class="btn btn-primary" id="nextBtn" (click)="personalDetail(1)">let go</button>
  </form>
